<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">
  <a class="navbar-brand" href="{{ path('accueil') }}">CarZ</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{ path('accueil') }}">L'agence</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('services') }}">Nos services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('catalogue') }}">Catalogue</a>
    </li>
  </ul>
</nav>