{% extends 'base.html.twig' %}

{% block title %}CarZ - voitures neuves et d'occasions{% endblock %}

{% block body %}

    {% block contenu %}


        <div class='container'>
            <h1>Liste des véhicules</h1>
            <br>
            <table class='table table-striped'>
                <thead>
                <tr>
                    <th>Photo    </th>
                    <th>Marque    </th>
                    <th>Model    </th>
                    <th>Motorisation </th>
                    <th>Prix  </th>
                </tr>
                </thead>
                <tbody>
                {% for voiture in voitures %}
                    <tr>
                        <td><img src="{{ asset("images/voitures/"~voiture.photo) }}"></td>
                        <td><a href="#">{{ voiture.marque    }}</a></td>
                        <td>{{ voiture.model }}</td>
                        <td>{{ voiture.motorisation  }}</td>
                        <td><span class="badge badge-success text-light">{{ voiture.prix  }}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <br>
            <h4>Nombre de véhicules: <span class="badge badge-info text-light">{{ voitures|length }}</span></h4>

            <br>
        </div>
    {% endblock %}

{% endblock %}


