{% extends 'base.html.twig' %}

{% block title %}CarZ - voitures neuves et d'occasions{% endblock %}

{% block body %}

    {% block contenu %}
        <br>

            <div class="row">
                <div class="col-md-4">
                    <div class="jumbotron">
                        <h1 class="display-4">Notre agence</h1>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eum exercitationem ipsa laudantium officia officiis quaerat rerum similique sit voluptatibus?</p>
                </div>

                <div class="col-md-4">
                    <div class="jumbotron">
                        <h1 class="display-4">Nos services</h1>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur culpa dignissimos dolore error nihil quam ullam veritatis vitae voluptate? Assumenda blanditiis dolorum est fuga ipsa minima odit quisquam rerum.</p>
                </div>

                <div class="col-md-4">
                    <div class="jumbotron">
                        <h1 class="display-4">Notre catalogue</h1>
                    </div>
                    <img src="{{ asset('images/voiture.jpg') }}" width="150" height="120" style="float: right;">
                    <h3>Notre catalgue de voitures vous propose plus de 4000 véhicules (neufs et occasions)</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at beatae, consequatur dignissimos, dolores eius enim eos esse facere ipsa itaque odit officia praesentium quam quia quo suscipit tempora voluptates?</p>
                    <a href="">
                        <p> > Consulter la liste de tous nos véhicules</p>
                    </a>
                </div>
            </div>


    {% endblock %}

{% endblock %}

