{% extends 'base.html.twig' %}

{% block title %}CarZ - voitures neuves et d'occasions{% endblock %}

{% block body %}

    {% block contenu %}
        <br>
            <div class="container">
                <div class="jumbotron">
                    <h1 class="display-4">Services</h1>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h3>Vente neuf et occasion</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consectetur impedit neque numquam porro quaerat rem repudiandae saepe temporibus veritatis! Cupiditate enim et mollitia neque quam quo, quod. Minima, ullam?</p>
                    </div>
                    <div class="col-md-6">
                        <h3>Entretien / réparation</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis expedita fugiat ipsum modi nulla rem, unde! Ab consectetur, consequuntur eligendi eveniet ex itaque, laborum non odit quibusdam totam vel!</p>
                    </div>
                </div>
            </div>
        <br>


    {% endblock %}

{% endblock %}

